.App{
  color: #282c34;
}

.App-header {
  background-color: #7dbda0;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color:  #282c34;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 1s ease-out, transform 1s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 5;
  transform: none;
  visibility: visible;
}

.nav-link {
  color: #FFFFFF;
}

#linked::before {
  cursor: pointer;
  color: #FFFFFF;
  opacity: 1;
}

#linked:hover {
  cursor: pointer;
  color: #7dbda0;
  opacity: 1;
  transition: 0.5s;
}



