@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;1,700&display=swap");

$black: #000000;
$white: #ffffff;

$dark-gray: #2f3542;
$heading-color: #212121;
$primary: #7ebda0;
$primary-green: #7ebda0;
$light-green: #7ebda057;
$medium-green: #7ebda0b4;
$light2-green: #85ddb457;

$default-text-color: $dark-gray;
$primary-nav-bg: $primary;

// breakpoints
$mobile: 640px;
$tablet: 768px;
$desktop: 1024px;
