.wallpaper-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(./hydepark.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  max-width: 100vw;
  top: -60px;
  position: relative;

  .welcome-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }
}

.main-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin-top: 10px;
  height: 200vh;

  .info-wrapper {
    width: 75%;
    padding: 25px;

    &.current-project {
      padding-bottom: 0px;
    }
  }

  .background-wrapper {
    background-color: $light-green;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .custom-heading {
    font-size: 30px;
    font-family: "Noto Serif", serif;
    font-weight: bold;
    color: $heading-color;
  }

  .custom-heading-h3 {
    font-size: 24px;
    font-family: "Noto Serif", serif;
    font-weight: bold;
    color: $heading-color;
  }

  .text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    width: 100%;
    height: 100%;
  }

  .submitting-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .text-wrapper-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    width: 100%;
    height: 100%;
  }

  .hr {
    position: absolute;
    border: none;
    height: 4px;
    background-color: $primary-green;
    width: 220px;

    &.white {
      // background-color: $white;
    }

    &.winning {
      width: 590px;
    }

    &.atn {
      width: 270px;
    }
  }

  .sub-text {
    margin-top: 0px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-submit {
      text-align: center;
    }
    // text-align: center;
  }

  p {
    line-height: 1.5;
  }

  ul {
    position: relative;
    margin-top: 17px;
  }
  li {
    list-style: disc;
    line-height: 1.5;
  }
}

.img-fluid {
  width: 500px;
  height: 500px;
}

.vl {
  border-left: 2px $primary-green solid;
  height: 50px;
  margin-top: 25px;
}
.footer {
  width: 100vw;
  left: 0;
  bottom: 0px;
  height: 50px;
  background-color: $primary-green;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.my-container {
  border: 2px red solid;

  .my-row {
    border: 1px green solid;
    margin: 5px;
  }

  .my-column {
    border: 1px blue solid;
    padding: 5px;
    margin: 5px;
  }
}
