.wallpaper-container {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  background: url(./bg-50.jpeg) no-repeat center center fixed;
  background-position: 100% 60%;
  background-size: cover;
  height: 100%;
  max-width: 100vw;
  top: -60px;
  position: relative;

  .welcome-content {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }
}

.main-content-container {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin-top: 10px;
  height: 200vh;

  .info-wrapper {
    width: 75%;
    padding: 25px;

    &.current-project {
      padding-bottom: 0px;
    }
  }

  .background-wrapper {
    background-color: $light-green;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
  }

  .custom-heading {
    font-size: 2rem;
    font-family: "Noto Serif", serif;
    font-weight: bold;
    color: $heading-color;
  }

  .custom-heading-h3 {
    font-size: 1.8em;
    font-family: "Noto Serif", serif;
    font-weight: bold;
    color: $heading-color;
  }

  .text-wrapper {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    width: 100%;
    height: 100%;
  }

  .submitting-wrapper {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
  }

  .text-wrapper-main {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    width: 100%;
    height: 100%;
  }

  .hr {
    position: absolute;
    border: none;
    height: 4px;
    background-color: $primary-green;
    width: 220px;

    &.atn {
      width: 270px;
    }

    // .online-sessions {
    //   background-color: $light-green;
    // }
  }

  .heading-wrapper {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: left;

    .winning {
      margin: 0px;
      margin-top: 15px;
      position: relative;
      width: 67%;
    }
  }

  .sub-text {
    margin-top: 0px;
    padding-top: 0px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;

    &-submit {
      text-align: center;
    }
  }

  p {
    line-height: 1.5;
  }

  ul {
    position: relative;
    margin-top: 17px;
  }
  li {
    list-style: disc;
    line-height: 1.5;
  }
}

.img-fluid {
  max-width: 100vw;
  height: 65vh;
}

.vl {
  border-left: 2px $primary-green solid;
  height: 50px;
  margin-top: 25px;
}

@media screen and (max-width: $mobile) {
  .img-fluid {
    max-width: 100vw;
    height: 50vh;
  }

  .main-content-container {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // background-color: white;
    // margin-top: 10px;
    // height: 200vh;

    .info-wrapper {
      width: 100%;
      padding: 25px;

      &.current-project {
        padding-bottom: 0px;
      }
    }

    .text-wrapper {
      padding-right: 0px;
      padding-left: 0px;
      // width: 100%;
      // height: 100%;
    }
  }

  .footer {
    width: 100vw;
    left: 0;
    bottom: 0px;
    height: 50px;
    background-color: $primary-green;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
