@import 'reset';
@import 'variables';
@import 'home';


html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
      'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: $default-text-color;
  }

  .main-header { 
      max-width: 100vw;
    display: flex;
    justify-content: center;

      .my-btn { 
          margin: 2px;
      }

      h3 { 
          color: white;
          margin-left: 50px;
      }

      .navBar { 
          justify-content: center;
          width: 75%;
      }

      .nav-links { 
          margin-right: 50px;
      }
  }
  

//   h1 {
//     font-size: 2.25rem;
//   }
  
//   .main-header {
//       max-width: 100vw;
//     height: 40px;
//     background-color: rgb(43, 126, 221);
  
//     .container {
//       height: 100%;
//       display: flex;
//       justify-content: space-around;
//       align-items: center;
//     }
  
//     a {
//       color: white;
//     }
//     > * {
//       color: $white;
//     }
//   }
  
//   .nav-links {

//     justify-content: space-around;
//     align-items: center;
//     text-decoration: none; 
//   }