.submission-content {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;

  h3 {
    padding-top: 25px;
  }

  .pretext-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

    p {
      margin: 25px 0px;
      text-align: left;
      line-height: 1.4rem;
    }
  }

  .custom-heading {
    font-size: 2rem;
    font-family: "Noto Serif", serif;
    font-weight: bold;
    color: $heading-color;
  }

  .hr {
    border: none;
    height: 4px;
    background-color: $primary-green;
    width: 37%;
  }
}

.link-to-example {
  text-decoration: none;
  color: rgb(31, 110, 255);
  text-decoration: underline;
  transition: 0.5s;
  &:hover {
    text-decoration: none;
    color: rgba(31, 109, 255, 0.692);
  }
}
.btn {
  transition: none;
}

.btn {
  transition: none;
}

.form-container {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
}

.submission-form {
  background-color: $light-green;
  width: 60%;
  height: auto;
  border-radius: 15px;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  margin: 25px 0px;

  .btn {
    width: 75%;
  }

  .sub-label {
    padding: 0px;
    padding-bottom: 5px;
    font-style: italic;
    line-height: 125%;
  }
  .text-area {
    height: 125px;
  }
  label {
    padding: 10px 0px;
  }

  button {
    margin-top: 20px;
  }

  #g-recaptcha {
    display: flex;
    justify-content: center;
    margin: 25px;
  }
}

@media screen and (max-width: $mobile) {
  .img-fluid {
    max-width: 100vw;
    height: 50vh;
  }

  .submission-content {
    padding: 0;
    margin: 0;

    .custom-heading {
      font-size: 1.4rem;
    }

    .pretext-wrapper {
      width: 90%;
      font-size: 0.8rem;
    }
  }

  .form-container {
    margin: 0;

    .submission-form {
      width: 95%;
      font-size: 0.8rem;

      #g-recaptcha {
        // display: flex;
        // justify-content: center;

        // div {
        //   transform: scale(0.9);
        //   -webkit-transform: scale(0.9);
        //   transform-origin: 0 0;
        //   -webkit-transform-origin: 0 0;
        // }
      }
    }
  }

  .footer {
    width: 100vw;
    left: 0;
    bottom: 0px;
    height: 50px;
    background-color: $primary-green;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
