.submission-content {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;

  h3 {
    padding-top: 25px;
  }

  .pretext-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }

  .custom-heading {
    font-size: 2rem;
    font-family: "Noto Serif", serif;
    font-weight: bold;
    color: $heading-color;
  }

  .hr {
    border: none;
    height: 4px;
    background-color: $primary-green;
    width: 37%;
  }
}

.link-to-example {
  text-decoration: none;
  color: black;
  text-decoration: underline;
  transition: 0.5s;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.form-container {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
}

.submission-form {
  background-color: $light-green;
  width: 60%;
  height: auto;
  border-radius: 15px;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: left;
  padding: 25px;
  margin: 25px 0px;

  .sub-label {
    padding: 0px;
    padding-bottom: 5px;
    font-style: italic;
  }
  .text-area {
    height: 125px;
  }
  label {
    padding: 10px 0px;
  }

  button {
    margin-top: 20px;
  }

  .submission-item {
    border: 2px red solid;
  }
}
